p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.vid-title {
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.vid-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  line-height: 24px;
  margin-bottom: 20px;
}
.vid-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  line-height: 24px;
  margin-bottom: 20px;
}
.vid-notes {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 20px;
  margin-bottom: 100px;
}
.apple-txt {
  margin-bottom: 50px;
  font-size: 12px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.link {
  cursor: pointer;
  margin-left: 3px;
}
.link:hover {
  text-decoration: underline;
}
